// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #990033;
$secondary: #8C001A;
$light: #FF9000;
$dark: #5F021F;

@font-face {
    font-family: "Bona Nova SC"; // Nom de la police //
    src: url("../Fonts/Bona_Nova_SC/BonaNovaSC-Regular.ttf");}

@font-face {
        font-family: "Cabin"; // Nom de la police //
        src: url("../Fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf");}

@font-face {
    font-family: "Smooch"; // Nom de la police //
    src: url("../Fonts/Smooch/Smooch-Regular.ttf");}

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here