// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #990033;
$secondary: #8C001A;
$clair: #FF9000;
$foncé: #5F021F;
$font-family-sans-serif: "Jim+nightsade", sans-serif !default;
$font-family-sans-serif: "Kalnia", sans-serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here